<app-navbar></app-navbar>
<div class="plot_cards">
  <div *ngFor="let d of plotsUrlArrays; let i = index" >
    <div class="wrapper" >
      <div class="card" [@flipState]="d.state">
        <div class="card-side front">
          <iframe [src]="d.url | iFrameSafe" class="resp-iframe"></iframe>
        </div>
        <div class="card-side back">
          <div *ngIf="config">
            name: {{config.name}}<br>
            CPU clock_frequency: {{config.cpu.clock_frequency}}<br>
            memory: {{config.memory.backend}}<br>
            {{config.memory["clock"]}}<br>
              {{config.memory["backend.mem_size"]}}
          </div>
        </div>
      </div>
      <button class="button" (click)="toggleFlip(d)">Check configurations</button>
    </div>
    <br>
  </div>
</div>

<div *ngIf='XSIMConfig' style="margin-left: 10px">
  Archictecure: {{XSIMConfig.architecture}}<br>
  Environment: {{XSIMConfig.environment}}<br>
  Dependencies:
  <ul *ngFor="let i of XSIMConfig.dependencies">
    <li>
      {{i.name}}: {{i.version}}, {{i.type}}
    </li>
  </ul>
  <br>
  Build dependencies:
  <ul *ngFor="let i of XSIMConfig.build.dependencies">
    <li>
      {{i.name}}: {{i.version}}, {{i.type}}
    </li>
  </ul>
  <br>
  Run dependencies:
  <ul *ngFor="let i of XSIMConfig.run.dependencies">
    <li>
      {{i.name}}: {{i.version}}, {{i.type}}
    </li>
  </ul>
</div>

<!-- <div class="dropzone" appDragAndDrop (filesChangeEmiter)="onFilesChange($event)"
	(filesInvalidEmiter)="onFileInvalids($event)" [allowedExtensions]="['pdf','png', 'jpg', 'bmp']">
	<div class="text-wrapper">
		<div class="centered">Drop your file here!</div>
	</div>
</div> -->