<!-- <div class="wrapper">
	<div class="card" [@flipState]="flip">
		<div class="card-side front">
			Front
		</div>
		<div class="card-side back">
			<div *ngIf="res">
				Identity: {{res.identity}}
				Uid: {{res.uid}}
			</div>
		</div>
	</div>
	<button (click)="toggleFlip()">Check configurations</button>
</div>

<div class="dropzone" appDragAndDrop (filesChangeEmiter)="onFilesChange($event)"
	(filesInvalidEmiter)="onFileInvalids($event)" [allowedExtensions]="['pdf','png', 'jpg', 'bmp']">
	<div class="text-wrapper">
		<div class="centered">Drop your file here!</div>
	</div>
</div> -->

<router-outlet></router-outlet>