<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<div style="display: block">
				<canvas baseChart
					[datasets]="barChartData"
					[labels]="barChartLabels"
					[options]="barChartOptions"
					[legend]="barChartLegend"
					[chartType]="barChartType">
				</canvas>
			</div>
		</div>
		<div class="flip-card-back">
			<h1>John Doe</h1> 
			<p>Architect & Engineer</p> 
			<p>We love that guy</p>
		</div>
	</div>
</div>
<div *ngIf="res">
	{{res.identity}}
</div>

<router-outlet></router-outlet>