.form {
    left:25%;
    width:50%;
    height:50%;
    top:25%;
    position:absolute;
    display: flex;
}

.button {
    margin-top: 20px;
    margin-left: 5px;
    height: 35px;
    font-size: 15px;
}
  
.full-width {
    width: 100%;
}

.input {
    width: 75%;
}